@model List<Category>

<div class="row">
	<div class="col-6">
		<h2>Category List</h2>
	</div>
	<div class="col-6">
		<div class="text-end">
			<a asp-controller="Category" asp-action="Create" class="btn btn-primary "><i class="bi bi-plus-circle"></i> Create New</a>
		</div>
	</div>
</div>
<hr />
<div class="table-responsive">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>CategoryId</th>
				<th>CategoryName</th>
				<th>DisplayOrder</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var category in Model.OrderBy(c => c.DisplayOrder))
			{
				<tr>
					<td>@category.CategoryId</td>
					<td>@category.CategoryName</td>
					<td>@category.DisplayOrder</td>
					<td><a asp-controller="Category" asp-action="Update" asp-route-categoryId="@category.CategoryId"><i class="bi bi-pencil-fill"></i></a></td>
				</tr>
			}
		</tbody>
	</table>
</div>
